<?xml version="1.0" encoding="UTF-8"?>
<Network xmlns="http://soap.sforce.com/2006/04/metadata">
    <allowMembersToFlag>false</allowMembersToFlag>
    <branding>
        <pageHeader>Logo/Logo_Mercedes_Benz.png</pageHeader>
        <primaryColor>#1797C0</primaryColor>
        <primaryComplementColor>#FFFFFF</primaryComplementColor>
        <quaternaryColor>#B1BAC1</quaternaryColor>
        <quaternaryComplementColor>#222222</quaternaryComplementColor>
        <secondaryColor>#51606E</secondaryColor>
        <tertiaryColor>#DDE4E9</tertiaryColor>
        <tertiaryComplementColor>#222222</tertiaryComplementColor>
        <zeronaryColor>#51606E</zeronaryColor>
        <zeronaryComplementColor>#FFFFFF</zeronaryComplementColor>
    </branding>
    <changePasswordTemplate>unfiled$public/CommunityChangePasswordEmailTemplate</changePasswordTemplate>
    <description>Daimler China Community</description>
    <emailSenderAddress>sinow.zhang@nttdata.com</emailSenderAddress>
    <emailSenderName>Daimler China Community</emailSenderName>
    <enableGuestChatter>false</enableGuestChatter>
    <enableInvitation>false</enableInvitation>
    <enableKnowledgeable>false</enableKnowledgeable>
    <enableNicknameDisplay>false</enableNicknameDisplay>
    <enablePrivateMessages>false</enablePrivateMessages>
    <enableReputation>false</enableReputation>
    <forgotPasswordTemplate>unfiled$public/CommunityForgotPasswordEmailTemplate</forgotPasswordTemplate>
    <networkMemberGroups>
        <profile>Dealer Community Delegate Admin</profile>
        <profile>Admin</profile>
        <profile>Dealer Community User</profile>
    </networkMemberGroups>
    <picassoSite>Daimler_China_Community1</picassoSite>
    <selfRegistration>false</selfRegistration>
    <sendWelcomeEmail>false</sendWelcomeEmail>
    <site>Daimler_China_Community</site>
    <status>Live</status>
    <tabs>
        <customTab>Vehicle__c</customTab>
        <customTab>Vehicle_Relationship__c</customTab>
        <customTab>Lead__c</customTab>
        <customTab>Yearly_Target</customTab>
        <customTab>BMBS_Campaigns</customTab>
        <customTab>Retail_Campaigns</customTab>
        <customTab>Tool_Kit__c</customTab>
        <customTab>Dealer_Score__c</customTab>
        <customTab>Yearly_TA_Tracing_Report</customTab>
        <customTab>Retail_Campaign_Calender</customTab>
        <customTab>Retail_Task__c</customTab>
        <defaultTab>home</defaultTab>
        <standardTab>home</standardTab>
        <standardTab>Account</standardTab>
        <standardTab>Case</standardTab>
        <standardTab>Campaign</standardTab>
        <standardTab>Workspace</standardTab>
        <standardTab>ContentSearch</standardTab>
        <standardTab>report</standardTab>
    </tabs>
    <welcomeTemplate>unfiled$public/CommunityWelcomeEmailTemplate</welcomeTemplate>
</Network>
