.THIS .slds-icon_container_circle.slds-icon-action-approval.slds-icon_container {
    padding: .2rem;
    border-radius: 50%;
}
.THIS .slds-icon_container_circle.slds-icon-action-close.slds-icon_container{
    padding: .2rem;
    border-radius: 50%;
}